---
# tasks file for httpd
- name: Install Apache
  apt:
    name: apache2
    state: present
    update_cache: yes
  become: yes

- name: Copy index.html to web directory
  copy:
    src: index.html
    dest: /var/www/html/index.html
    mode: '0644'

